<div class="container" id="home-container">
    <div class="jumbotron text-left text-white">
        <h1 class="display-4">Welcome to Demo Blog</h1>
        <p class="lead">This is a demo blog application for Ruby on Rails.</p>
        <hr class="my-4">
        <p>To explore the demo blog, please sign up!</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>