<div class="container" id="home-container">
    <div class="jumbotron text-left text-white">
        <h1 class="display-4">Welcome Owl Blog!</h1>
        <p class="lead">This is a demo blog application for Ruby on Rails.</p>
        <hr class="my-4">
        <p>To explore the world of owls, Sign Up!</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign Up</a>
    </div>
</div>

<footer class="footer fixed-bottom flex-shrink-0 py-4 bg-dark text-white">
        <div class="container text-center">
        <small>Copyright &copy; SRC Tech.</small>
    </div>
</footer>