<div class="container" id="home-container">
    <div class="jumbotron text-left text-white">
        <h1 class="display-4">Welcome Owl Blog!</h1>
        <p class="lead">This is a demo blog application for Ruby on Rails.</p>
        <hr class="my-4">
        <p>To explore the world of owls, Sign Up!</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>