<h2 class="text-center mt-4">Create a New Category</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'form' %>
        </div>
        <div class="col-12"></div>
        <div class="mb-3">
            <%= link_to 'Return to Categories Page', categories_path, class: "text-info" %>
        </div>
    </div>
</div>